In [1]:
import pandas as pd
import numpy as np

In [2]:
pet = pd.read_csv('pet.csv')
pet.head()

    Patient #  Age
0  HN-HGJ-001   79
1  HN-HGJ-002   41
2  HN-HGJ-003   75
3  HN-HGJ-004   53
4  HN-HGJ-005   74

In [3]:
mri = pd.read_csv('mri.csv')
mri.head()

,Patient,RNASeqCluster,MethylationCluster,miRNACluster,CNCluster,RPPACluster,OncosignCluster,COCCluster,histological_type,neoplasm_histologic_grade,tumor_tissue_site,laterality,tumor_location,gender,age_at_initial_pathologic,race,ethnicity,death01
0,TCGA_CS_4941,2.0,4.0,2,2.0,NaN,3.0,2,1.0,2.0,1.0,3.0,2.0,2.0,67.0,3.0,2.0,1.0
1,TCGA_CS_4942,1.0,5.0,2,1.0,1.0,2.0,1,1.0,2.0,1.0,3.0,2.0,1.0,44.0,2.0,NaN,1.0
2,TCGA_CS_4943,1.0,5.0,2,1.0,2.0,2.0,1,1.0,2.0,1.0,1.0,2.0,2.0,37.0,3.0,NaN,0.0
3,TCGA_CS_4944,NaN,5.0,2,1.0,2.0,1.0,1,1.0,1.0,1.0,3.0,6.0,2.0,50.0,3.0,NaN,0.0
4,TCGA_CS_5393,4.0,5.0,2,1.0,2.0,3.0,1,1.0,2.0,1.0,1.0,6.0,2.0,39.0,3.0,NaN,0.0

In [9]:
'-'.join('HN-HGJ-030-1-90.png'.split('-')[:3])

'HN-HGJ-030'

In [7]:
str = "-";
seq = ("a", "b", "c"); # 字符串序列
print( str.join( seq ))

a-b-c

In [16]:
patient_id_A = 'HN-HGJ-005'
int(pet.loc[pet['Patient #'] == patient_id_A, 'Age'])

74